# Operating System Files

*.DS_Store
Thumbs.db

# Build Files #

bin
target
build/
gradle
.gradle

#java Mongo configuration files

src/main/java/com/MongoConfig.java

# Eclipse Project Files #

.classpath
.project
.settings

# IntelliJ IDEA Files #

*.iml
*.ipr
*.iws
*.idea

# Test files

accessingdataneo4j.db
dependency-reduced-pom.xml
README.html
